{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Your Account" %}
{% endblock %}

{% block content %}
  <h1 class="mb-5">{% trans "Your Account" %}</h1>
  <div class="h5">
    <h5>
      <strong>Username: </strong>
      <span>{{ user.username }}</span>
    </h5>

    <h5><strong>Email: </strong>{{ user.email }}</h5>
    <h5><a href="{% url 'account_email' %}">Change Your Email</a></h5>
    <h5><a href="{% url 'account_change_password' %}">Change Your Password</a></h5>
    <h5><a href="{% url 'core:edit_profile' %}">Edit Your Profile</a><br/></h5>
  </div>

{% endblock %}