{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Your Account" %}
{% endblock %}

{% block content %}
  <h1 class="mb-5">{% trans "Your Account" %}</h1>
  {#  <table class="table table-hover table-bordered text-center">#}

  {#    <tbody>#}
  <h5>
    <strong>Username: </strong>
    <span>{{ user.username }}</span>
  </h5>

  <h5>
    <strong>Email: </strong>{{ user.email }}
    <span><a class="ml-5" href="{% url 'account_email' %}">Change Your Email</a></span>
  </h5>
  <br/>
  <hr/>
  <a href="{% url 'account_change_password' %}">Change Your Password</a><br/>
  {#    <a href="{% url 'core:change_name' %}">Change Your Name</a><br/>#}
  {#    <a href="{% url 'core:change_phone_number' %}">Change Your Phone Number</a><br/>#}
  <a href="{% url 'core:manage_address' %}">Manage Your Addresses</a><br/>
  {#    </tbody>#}
  {#  </table>#}
{% endblock %}