{% extends "base.html" %}

{% load humanize %}
{% load cart_template_tags %}

{% block head_title %}
  Shopping Cart
{% endblock head_title %}

{% block content %}
  <table class="table table-hover table-bordered text-center">
    <thead>
    <tr class="text-center">
      <th scope="col">NO.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.items.all %}
      <tr>
        <td>
          {{ forloop.counter }}
        </td>
        <td class="text-left">
          <a href="{% url 'product:product_detail' item.product.slug %}">{{ item.product.name }}</a>
          {% if item.product.label == 'S' %}
            <span class="badge badge-pill danger-color ml-5">{{ item.product.get_label_display }}</span>
          {% endif %}

        </td>
        <td>
          {% if item.product.label == 'S' %}
            <span class="mr-2"><del>$ {{ item.product.price|intcomma }}</del></span>
            <span>$ {{ item.product.final_price|intcomma|floatformat:-2 }}</span>
          {% else %}
            <span>$ {{ item.product.final_price|intcomma|floatformat:-2 }}</span>
          {% endif %}
        </td>
        <td>
          <a href="#">
            <a href="{% url 'shopping:minus_quantity' item.slug %}">
              <i class="fas fa-minus mr-2"></i>
            </a>
            {{ item.quantity }}
            <a href="{% url 'shopping:add_quantity' item.slug %}">
              <i class="fas fa-plus ml-2"></i>
            </a>
        </td>
        <td>
          {{ item.get_total_final_price|intcomma|floatformat:-2 }}
          {% if item.product.label == 'S' %}
            <span class="badge badge-pill primary-color ml-5">
              Saving $ {{ item.get_amount_saved|intcomma|floatformat:-2 }}
            </span>
          {% endif %}
          <span>
            <a class="text-danger"
               href="{% url 'shopping:remove_from_cart' item.slug %}">
            <i class="fas fa-trash float-lg-right" data-toggle="tooltip" data-placement="top"
               title="Delete this item"></i>
            </a>
          </span>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="5">
          There is nothing in your cart
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if cart.get_total %}
      <tr>
        <td colspan="4">
          <strong class="pull-right">Order total: </strong>
        </td>
        <td colspan="1">
          <strong>$ {{ cart.get_total|intcomma|floatformat:-2 }}</strong>
          {% if request.user|cart_total_saving %}
            <span class="badge badge-pill primary-color ml-5">
              Saving $ {{ request.user|cart_total_saving|intcomma|floatformat:-2 }}
            </span>
          {% endif %}
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="5">
        <a href="{% url 'product:product_list' %}" class="btn btn-outline-primary btn-lg mb-2">
          {% if cart.get_total %}
            Continue Shopping
            <i class="fas fa-shopping-basket ml-2"></i>
          {% else %}
            Add items to your cart
          {% endif %}
        </a>
        {% if cart.get_total %}
          <a class="btn btn btn-outline-primary btn-lg mb-2" href="{% url 'shopping:checkout' %}">
            Checkout
            <i class="fas fa-credit-card ml-2"></i>
          </a>
        {% endif %}
      </td>
    </tr>
    </tfoot>
  </table>
{% endblock content %}