{% extends "base.html" %}

{% load humanize %}

{% block head_title %}
  Order Detail
{% endblock head_title %}

{% block content %}
  <h3 class="text-center">Order {{ order.ref_code }}</h3>
  <table class="table table-hover table-bordered text-center">
    <tr class="text-center">
      <th scope="col">NO.</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Item Price</th>
    </tr>
    {% for item in order.items.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td class="text-left">{{ item.product.name }}</td>
        <td>$ {{ item.final_price|intcomma|floatformat:-2 }}</td>
        <td>{{ item.quantity }}</td>
        <td>$ {{ item.get_total_final_price|intcomma|floatformat:-2 }}</td>
      </tr>
    {% endfor %}

    {% if order.coupon_saved %}
      <tr>
        <td colspan="4" class="pull-right">Promo Code: {{ order.coupon.code }}</td>
        <td colspan="1">- $ {{ order.total_amount|intcomma|floatformat:-2 }}</td>
      </tr>
    {% endif %}

    <tr>
      <td colspan="4">
        <strong class="pull-right">Order total: </strong>
      </td>
      <td colspan="1">
        <strong>$ {{ order.total_amount|intcomma|floatformat:-2 }}</strong>
      </td>
    </tr>

    <tr>
      <td colspan="1" class="align-middle"><strong>Shipping Address</strong></td>
      <td colspan="3" class="text-sm-left">
        {{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }} </br>
        {{ order.shipping_address.street_address }}, {{ order.shipping_address.apartment_address }} </br>
        {{ order.shipping_address.city }}, {{ order.shipping_address.state }} {{ order.shipping_address.zipcode }}
      </td>
      {% if order.is_shipped %}
        <td colspan="1" class="align-middle">tracking number with link here</td>
      {% else %}
        <td colspan="1" class="align-middle">Preparing Shipping</td>
      {% endif %}
    </tr>
  </table>
{% endblock %}