{% extends "base.html" %}

{% load static %}

{% block content %}

	<div class="row align-items-center">
		<div class="col-3">
			<a href="{% url 'website:bottega_veneta' %}">
				<img width="100%" src="{% static 'img/brand_logo/BV.jpg' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:boucheron' %}">
				<img width="100%" src="{% static 'img/brand_logo/boucheron.png' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:burberry' %}">
				<img width="100%" src="{% static 'img/brand_logo/burberry.jpg' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:cartier' %}">
				<img width="100%" src="{% static 'img/brand_logo/cart_edited.jpg' %}">
			</a>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3">
			<a href="{% url 'website:zegna' %}">
				<img width="100%" src="{% static 'img/brand_logo/zegna.png' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:freakshow' %}">
				<img width="100%" src="{% static 'img/brand_logo/freak_edited.png' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:gucci' %}">
				<img width="100%" src="{% static 'img/brand_logo/gucci.jpg' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:henry_jullien' %}">
				<img width="100%" src="{% static 'img/brand_logo/henry_jullien.png' %}">
			</a>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-4">
			<a href="{% url 'website:lindberg' %}">
				<img width="100%" src="{% static 'img/brand_logo/lindberg-logo.png' %}">
			</a>
		</div>
		<div class="col-4">
			<a href="{% url 'website:mcq' %}">
				<img width="100%" src="{% static 'img/brand_logo/mcq.png' %}">
			</a>
		</div>
		<div class="col-4">
			<a href="{% url 'website:oakley' %}">
				<img width="100%" src="{% static 'img/brand_logo/Oakley-Logo.png' %}">
			</a>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-4">
			<a href="{% url 'website:plm' %}">
				<img width="100%" src="{% static 'img/brand_logo/plm.jpg' %}">
			</a>
		</div>
		<div class="col-4">
			<a href="{% url 'website:ray_ban' %}">
				<img width="100%" src="{% static 'img/brand_logo/ray_ban.png' %}">
			</a>
		</div>
		<div class="col-4">
			<a href="{% url 'website:saint_laurent' %}">
				<img width="100%" src="{% static 'img/brand_logo/saint_laurent.jpg' %}">
			</a>
		</div>
	</div>
	<div class="row align-items-center">
		<div class="col-3">
			<a href="{% url 'website:stella_kids' %}">
				<img width="100%" src="{% static 'img/brand_logo/stella_kids.jpg' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:swarovski' %}">
				<img width="100%" src="{% static 'img/brand_logo/swarovski_category.png' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:tom_ford' %}">
				<img width="100%" src="{% static 'img/brand_logo/tomford_logo.jpg' %}">
			</a>
		</div>
		<div class="col-3">
			<a href="{% url 'website:vinyl_factory' %}">
				<img width="100%" src="{% static 'img/brand_logo/vinyl_factory.png' %}">
			</a>
		</div>
	</div>

{% endblock %}