{% extends "base.html" %}

{% load static %}

{% block content %}

	<div class="container">
		<div class="row justify-content-center align-items-center">
			<img height="80px" src="{% static 'img/eyeware/gucci_logo_2.jpg' %}">
			<img height="100px" src="{% static 'img/eyeware/gucci_logo_1.jpg' %}">
			<img height="80px" src="{% static 'img/eyeware/gucci_logo_2.jpg' %}">
		</div>
		<div class="row justify-content-center">
			<div class="col-5">
				<div class="p">
					<div class="mt-2">Influential, innovative and progressive. Gucci is reinventing a wholly modern approach to
						fashion. Under the new vision of creative director Alessandro Michele, the House has redefined luxury for
						the 21st century, fortifying Gucci's reputation as one of the world's most desired fashion brands.
					</div>
					<div class="mt-2">With distinctive and unconventional creativity, Gucci Eyewear expresses a distinguished
						contemporary spirit, fully representing the House’s Italian eclectic aesthetic. Italian craftsmanship at its
						finest, Gucci products exemplify quality and attention to detail.
					</div>
					<div class="mt-2">Pittsburgh’s Look Eye Care stocks 2,020 designer eyewear frames. Visit us for men’s and
						women’s Gucci glasses and sunglasses available with a prescription or without.
					</div>
				</div>
			</div>

			<div class="col-7">

				<!--Carousel Wrapper-->
				<div id="carousel-page" class="carousel slide mt-5" data-ride="carousel" style="height: 400px">

					<!--Controls-->
					<div>
						<a class="carousel-control-prev pg-dark-grey float-left pl-lg-5" href="#carousel-page" data-slide="prev"><i
							class="fas fa-chevron-left"></i></a>
						<a class="carousel-control-next pg-dark-grey float-right pr-lg-5" href="#carousel-page" data-slide="next"><i
							class="fas fa-chevron-right"></i></a>
					</div>
					<!--/.Controls-->

					<!--Slides-->
					<div class="carousel-inner" role="listbox" data-toggle="modal" data-target="#pic-Modal">

						<div class="carousel-item active">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_01.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_02.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_03.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_04.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_05.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_06.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_07.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_08.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_09.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_10.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_11.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_12.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_13.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_14.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_15.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_16.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_17.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_18.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_19.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_20.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_21.jpg' %}">
							</div>
						</div>

					</div>
					<!--/.Slides-->

				</div>
				<!--/.Carousel Wrapper-->

			</div>
		</div>

	</div>


	<div class="modal fade" id="pic-Modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-height: 500px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<!--Carousel Wrapper-->
					<div id="carousel-modal" class="carousel slide" data-ride="carousel" style="height: 600px">

						<!--Slides-->
						<div class="carousel-inner " role="listbox">

							<div class="carousel-item active">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_01.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_02.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_03.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_04.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_05.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_06.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_07.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_08.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_09.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_10.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_11.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_12.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_13.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_14.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_15.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_16.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_17.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_18.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_19.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/gucci_20.jpg' %}">
								</div>
							</div>

						</div>
						<!--/.Slides-->

						<!--Controls-->
						<a class="carousel-control-prev" href="#carousel-modal" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carousel-modal" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						<!--/.Controls-->

					</div>
					<!--/.Carousel Wrapper-->

				</div>
			</div>
		</div>
	</div>

{% endblock %}
