{% extends "base.html" %}

{% block content %}

  <div class="card bg-light">
    <div class="h1 font-weight-bold text-center mt-5">Our Story</div>
    <div class="h5 text-left ml-5 mr-5">
      Family-owned, Look Eye Care strives to offer an unbeatable patient experience at every opportunity. Look Eye
      Care’s commitment to quality reveals itself in everything we do; through every eye exam, unique frame, ophthalmic
      lenses, contact lens and fitting. We offer comprehensive patient services utilizing the latest digital
      technologies. Our frame and lens selections are of truly superior craftsmanship. Personalized fitting will ensure
      you leave comfortable, seeing your best, and looking your best!
    </div>
    <div class="h5 text-left ml-5 mr-5">
      Shop our exclusive styles to discover classic and one-of-a-kind frames that highlight your unique personality.
      With brands you won't find anywhere else, from prescription to sunglasses, luxury to iconic, you'll be amazed at
      our incredible selection of designer eyewear for every budget. Better yet, our advanced finishing lab will have
      most orders ready within an hour. Transitions, blue light filters, specialty coatings and more, we have the
      perfect lens to fit your lifestyle. When you choose Look Eye Care, you're choosing a company with a clear vision
      focused on patient eye health, well-being, and style to match.
    </div>
    <div class="h5 text-left ml-5 mr-5 mb-5">
      We believe in redefining how you see the optical world while defining how the world sees you. Express yourself
      with our fashion eyewear collections to discover a captivating new look all your own.
    </div>

  </div>

{% endblock %}