{% extends "base.html" %}

{% load static %}

{% block extra_head %}

	<style>

	</style>
{% endblock extra_head %}

{% block content %}

	<div class="container">
		<div class="row justify-content-center">
			<img width="50%" src="{% static 'img/eyeware/tom_ford_logo_02.webp' %}">
		</div>
		<div class="row justify-content-center">
			<div class="col-6">
				<div class="p">
					<div class="mt-2">Longtime style icon Tom Ford continues to lead and mold the mood of the moment. Featuring
						innovative and
						provocative design, exclusive materials and workmanship, glamorous allure can be seen in all his creations.
						Made in Italy, Tom Ford's core values are reflected in the eyewear collection with painstaking attention to
						detail and high-quality products.
					</div>
					<div class="mt-2">Sunglasses and glasses merge together both vintage and contemporary influences. Instantly
						recognizable by
						the elegant metal 'T' detail, Tom Ford glasses and sunglasses favor sleek minimalism and carefully chosen
						details.
					</div>
					<div class="mt-2">An unerring eye for design gives Tom Ford Eyewear a look that is clearly of the moment, yet
						at home in
						any era.
					</div>
					<div class="mt-2">Pittsburgh’s Look Eye Care stocks 2,020 designer eyewear frames. Visit us for men’s and
						women’s Tom Ford
						glasses and sunglasses available with a prescription or without.
					</div>
				</div>
			</div>

			<div class="col-6">

				<!--Carousel Wrapper-->
				<div id="carousel-page" class="carousel slide mt-2" data-ride="carousel" style="height: 400px">

					<!--Controls-->
					<div>
						<a class="carousel-control-prev pg-dark-grey float-left pl-lg-5" href="#carousel-page" data-slide="prev"><i
							class="fas fa-chevron-left"></i></a>
						<a class="carousel-control-next pg-dark-grey float-right pr-lg-5" href="#carousel-page" data-slide="next"><i
							class="fas fa-chevron-right"></i></a>
					</div>
					<!--/.Controls-->

					<!--Slides-->
					<div class="carousel-inner" role="listbox" data-toggle="modal" data-target="#pic-Modal">

						<div class="carousel-item active">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_01.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_02.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_03.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_04.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_05.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_06.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_07.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_08.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_09.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_10.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_11.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_12.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_13.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_14.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_15.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_16.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_17.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_18.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_19.jpg' %}">
							</div>
						</div>
						<div class="carousel-item">
							<div class="view row align-items-center">
								<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_20.jpg' %}">
							</div>
						</div>

					</div>
					<!--/.Slides-->

				</div>
				<!--/.Carousel Wrapper-->

			</div>
		</div>

	</div>


	<div class="modal fade" id="pic-Modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered" role="document" style="max-height: 500px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<div class="modal-body">

					<!--Carousel Wrapper-->
					<div id="carousel-modal" class="carousel slide" data-ride="carousel" style="height: 500px">

						<!--Slides-->
						<div class="carousel-inner " role="listbox">

							<div class="carousel-item active">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_01.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_02.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_03.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_04.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_05.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_06.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_07.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_08.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_09.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_10.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_11.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_12.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_13.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_14.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_15.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_16.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_17.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_18.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_19.jpg' %}">
								</div>
							</div>
							<div class="carousel-item">
								<div class="view row align-items-center">
									<img class="carousel-img img-fluid" src="{% static 'img/eyeware/tom_ford_20.jpg' %}">
								</div>
							</div>

						</div>
						<!--/.Slides-->

						<!--Controls-->
						<a class="carousel-control-prev" href="#carousel-modal" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carousel-modal" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						<!--/.Controls-->

					</div>
					<!--/.Carousel Wrapper-->

				</div>
			</div>
		</div>
	</div>

{% endblock %}
