{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}
  Products Create
{% endblock head_title %}

{% block content %}

  <div class="col-16">
    <a class="btn btn-outline-primary" href="../..">Back to Product List</a>
    <div class="card mt-5">
      <div class="card-header">
        <h4>Create a Product</h4>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}