{% extends "base.html" %}

{% load humanize %}

{% block head_title %}
  Shopping Cart
{% endblock head_title %}

{% block content %}
  <table class="table table-hover table-bordered text-center">
    <thead>
    <tr class="text-center">
      <th>NO.</th>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in cart.items.all %}
      <tr>
        <td>
          {{ forloop.counter }}
          <span>
            <a class="text-danger"
               href="{% url 'controller:remove_from_cart' item.slug %}">
            <i class="fas fa-trash "></i>
            </a>
          </span>
        </td>
        <td class="text-left">
          <a href="{% url 'product:product_detail' item.product.slug %}">{{ item.product.name }}</a>
        </td>
        <td>$ {{ item.product.price|intcomma }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">
          There is nothing in your cart
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if cart.get_total %}
      <tr>
        <td colspan="2">
          <strong class="pull-right">Order total: </strong>
        </td>
        <td colspan="1">
          <strong>$ {{ cart.get_total|intcomma|floatformat:-2 }}</strong>
        </td>
      </tr>
    {% endif %}
    <tr>
      <td colspan="3">
        <a href="{% url 'product:product_list' %}" class="btn btn-warning">
          {% if cart.get_total %}
            Continue Shopping
          {% else %}
            Add items to your cart
          {% endif %}
        </a>
        {% if cart.get_total %}
          <a class="btn btn-outline-primary pull-left"
             href="{% url 'controller:checkout' %}">Checkout</a>
        {% endif %}
      </td>
    </tr>
    </tfoot>
  </table>
{% endblock content %}