{% extends "base.html" %}

{% load humanize %}

{% block head_title %}
  Shopping Cart
{% endblock head_title %}

{% block content %}
  <table class="table table-hover table-bordered text-center">
    <tr class="text-center">
      <th>NO.</th>
      <th>Product Name</th>
      <th>Price</th>
    </tr>
    {% for item in order.items.all %}
      <tr>
        <td>
          {{ forloop.counter }}
          <span>
            <a class="text-danger"
               href="{% url 'controller:remove_from_cart' item.product.slug %}">
            <i class="fas fa-trash "></i>
            </a>
          </span>
        </td>
        <td class="text-left">{{ item.product.name }}</td>
        <td>$ {{ item.product.price|intcomma }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">
          There is nothing in your cart
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="2">
        <strong class="pull-right">Order total: </strong>
      </td>
      <td colspan="1">
        <strong>$ {{ order.get_total|intcomma|floatformat:-2 }}</strong>
      </td>
    </tr>
  </table>
{% endblock content %}

{% block extra_body %}
  {% if request.user.is_superuser %}
    <div class="text-center">
      <a class="btn btn-outline-primary mt=3" href="{% url 'product:product_create' %}">
        Create a Product
      </a>
    </div>
  {% endif %}
{% endblock extra_body %}