{% load static %}

<!--Footer-->
<footer class="page-footer text-center font-small mt-2 wow "
        style="background-color: snow; color: #2e2e2e">
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg-4, col-xs-4">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.877508929495!2d-80.00993108412256!3d40.544295279350514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88348d23e28dd149%3A0x585a49ce153a3539!2sLook%20Eye%20Care!5e0!3m2!1sen!2sus!4v1589307469677!5m2!1sen!2sus"
            width="300" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0" class="mt-2">
        </iframe>
      </div>

      <div class="col-4 col-lg-4, col-xs-4">

        {#      <img class="navbar-brand" src="{% static 'img/store_logo/30173.png' %}" height="300px" width="300px">#}
        <img class="navbar-brand" src="{% static 'img/store_logo/30173.png' %}" width="200px" height="200px">
        <h5>(412) 447 - 8888</h5>
        <h5>1000 Ross Park Mall Dr</h5>
        <h5>Unit N01H</h5>
        <h5>Pittsburgh PA 15237</h5>
        <br/>
        <h5>2nd Floor next to Nordstorm</h5>
      </div>

      <div class="col-4 col-lg-4, col-xs-4">
        <br/>
        <h3 class="mt-5"><strong>Store Hours</strong></h3>
        <br/>
        <h6>Monday ~ Saturday</h6>
        <h6>10:00AM ~ 9:00PM</h6>
        <br/>
        <h6>Sunday</h6>
        <h6>11:00AM ~ 6:00PM</h6>
        <br/>
        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
          <a href="https://www.facebook.com/mylookeyecare" target="_blank">
            <i class="fab fa-facebook-f mr-3" style="color: #2e2e2e"></i>
          </a>

          <a href="https://twitter.com/MyLookEyeCare?lang=en" target="_blank">
            <i class="fab fa-twitter mr-3" style="color: #2e2e2e"></i>
          </a>

          <a href="https://www.instagram.com/mylookeyecare/" target="_blank">
            <i class="fab fa-instagram" style="color: #2e2e2e"></i>
          </a>

        </div>
      </div>

    </div>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-2" style="background-color: snow; color: #2e2e2e">
    ©2020 by Look Eye Care LLC. The content on this website is owned by us and our licencors.
    Do not copy any content (including images) without our consent.
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->