{% load static %}

<div class="fixed-top">
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}

  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <img class="navbar-brand" src="{% static 'logo.jpg' %}" , height="50px" , width="50px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'optical:home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Services</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Products
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'optical:product_list' %}">Eyeware</a>
            <a class="dropdown-item" href="#">Contacts</a>
            <a class="dropdown-item" href="#">Eyeware Collections</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Lens Technology</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Meet Us</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="#">Book Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Insurance & Promotion</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item mr-auto">
            <a class="nav-link" style="color: black">Hello {{ request.user.first_name|title }}</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url 'account_logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item mr-auto">
            <a class="nav-link" style="color: black">Welcome !</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-primary" href="{% url 'account_signup' %}">Signup</a>
            <a class="btn btn-outline-primary" href="{% url 'account_login' %}">Login</a>
          </li>
        {% endif %}
        {#        <li class="nav-item">#}
        {#          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
        {#        </li>#}
      </ul>
      {#      for search bar only in product page#}
      {#      <form class="form-inline my-2 my-lg-0">#}
      {#        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
      {#        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
      {#      </form>#}
    </div>
  </nav>
</div>
<hr/>