{% extends "base.html" %}

{% block content %}

  <div class="col-16">
    <a class="btn btn-outline-primary" href="..">Back to Product Detail</a>
    <div class="card mt-5">
      <div class="card-header">
        <h4>Update a Product</h4>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-primary" type="submit">Submit</button>
        </form>
      </div>

    </div>
  </div>

{% endblock %}