{% extends "base.html" %}

{% load humanize %}

{% block head_title %}
  Products Detail
{% endblock head_title %}

{% block content %}
  <div class="col-16">
    <a class="btn btn-outline-primary" href="..">Back to Product List</a>
    <div class="card mt-5">
      <div class="card-header">
        Product Name: {{ product.name }}
      </div>
      <div class="card-body">
        <p>Catogory: {{ product.category }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Price: $ {{ product.price|intcomma }}</p>
        <img src="{{ product.image.url }}" height="300"/>
      </div>
      <div class="card-footer">
        <a href="{% url 'controller:add_to_cart' product.slug %}" class="btn btn-warning btn-block">Add to cart</a>
        {% if request.user.is_superuser %}
          <a href="./update" class="btn btn-outline-primary">Update this product</a>
          <a href="./delete" class="btn btn-outline-primary">delete this product</a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}