{% extends "base.html" %}

{% load humanize %}

{% block content %}

  <div class="col-10 offset-3">
    <a class="btn btn-outline-primary" href="..">Back to Product List</a>
    <div class="card mt-5">
      <div class="card-header">
        Product Name: {{ product.name }}
      </div>
      <div class="card-body">
        <p>Catogory: {{ product.category }}</p>
        <p>Description: {{ product.description }}</p>
        <p>Price: $ {{ product.price|intcomma }}</p>
        <img src="{{ product.image.url }}"/>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-outline-primary" type="submit">Are you SURE?</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}