{% extends "base.html" %}

{% block content %}

  <div class="col-10 offset-3">
    <a class="btn btn-outline-primary" href="..">Back to Product List</a>
    <div class="card mt-5">
      <div class="card-header">
        <h4>Create a Product</h4>
      </div>
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_ul }}
          <button class="btn btn-outline-primary" type="submit">Submit</button>
          <br/>
        </form>
      </div>
    </div>

{% endblock %}